@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --background-blue: #b9daeb;
    --background-white: #f2e8cf;
    --foreground-dark: #1f4100;
    --basis-radius: 20px;
    --green-1: #386641;
    --green-2: #647736;
    --green-3: #6a994e;
    --h1-font-size: 60px;
}

@media (max-width: 600px) {
    :root {
        --h1-font-size: 30px;
    }
}

* {
    font-family: 'Segoe UI', sans-serif;
    color: var(--foreground-dark);
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-blue);
    overflow-x: hidden;
}

body {
    margin-top: 98px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    backdrop-filter: blur(2px);
}

footer {
    background-color: var(--foreground-dark);
    color: var(--background-blue);
    padding: 20px;
    text-align: center;
}

header>nav {
    margin: 20px;
    padding: 15px 30px;
    background-color: var(--background-white);
    border-radius: var(--basis-radius);
    text-decoration: none;
    color: var(--foreground-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header * {
    text-decoration: inherit;
    color: inherit;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
}

/* header>nav>a:not(:first-child) {
    margin-left: 30px;
} */

a:hover {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

header .endemic-trees {
    font-size: 20px;
}

.endemic-trees,
.endemic-trees * {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    text-decoration: none;
}

.endemic-trees-letter {
    display: inline-block;
    margin: 0 .07em;
    transition: all 100ms;
}

section {
    padding: 30px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.size-capped {
    max-width: 840px;
    margin: 0 30px;
    box-sizing: content-box;
}

.nav-header {
    display: flex;
    align-items: center;
}

#nav-toggle {
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    overflow: visible;
    height: 1px;
    display: none; /* Caché sur desktop */
}

#nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Responsive */
@media (max-width: 768px) {
    #nav-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 8px;
    }

    #nav-links {
        display: none;
        transition: all .2s;
        position: fixed;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        background-color: var(--background-white);
        padding: 15px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

    #nav-links[show] {
        display: block;
    }

    #nav-links[show] > a {
        display: block;
        padding: 15px;

    }

    header > nav > a:not(:first-child) {
        margin: 0;
    }
}



h1 {
    font-size: var(--h1-font-size);
    margin-bottom: 20px;
}
