@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: 'Segoe UI', sans-serif;
}

:root {
    --background-blue: #9ddaf9;
    --background-white: #fff;
    --foreground-dark: #000;
    --basis-radius: 20px;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-blue);
}

header>nav {
    margin: 20px;
    padding: 15px 30px;
    background-color: var(--background-white);
    border-radius: var(--basis-radius);
    text-decoration: none;
    color: var(--foreground-dark);
}

header * {
    text-decoration: inherit;
    color: inherit;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
}

header>nav>a:not(:first-child) {
    margin-left: 30px;
}

header .endemic-trees {
    font-size: 20px;
}

.endemic-trees,
.endemic-trees * {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
}

.endemic-trees-letter {
    display: inline-block;
    margin: 0 2px;
}