iframe {
    max-width: 100vw;
    max-height: 66vw;
    width: 600px;
    height: 400px;
}

section {
    min-height: calc(100vh - 98px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe {
    border-radius: 20px;
}
